.dark-medium-contrast {
  --md-sys-color-primary: rgb(253 214 167);
  --md-sys-color-surface-tint: rgb(230 192 147);
  --md-sys-color-on-primary: rgb(54 33 2);
  --md-sys-color-primary-container: rgb(209 173 129);
  --md-sys-color-on-primary-container: rgb(56 35 3);
  --md-sys-color-secondary: rgb(189 233 162);
  --md-sys-color-on-secondary: rgb(12 44 0);
  --md-sys-color-secondary-container: rgb(116 156 93);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 218 168);
  --md-sys-color-on-tertiary: rgb(57 36 0);
  --md-sys-color-tertiary-container: rgb(255 182 58);
  --md-sys-color-on-tertiary-container: rgb(73 47 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 19 16);
  --md-sys-color-on-background: rgb(233 225 219);
  --md-sys-color-surface: rgb(22 19 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(78 69 59);
  --md-sys-color-on-surface-variant: rgb(232 218 204);
  --md-sys-color-outline: rgb(189 176 163);
  --md-sys-color-outline-variant: rgb(154 142 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 225 219);
  --md-sys-color-inverse-on-surface: rgb(45 41 38);
  --md-sys-color-inverse-primary: rgb(93 67 32);
  --md-sys-color-primary-fixed: rgb(255 221 181);
  --md-sys-color-on-primary-fixed: rgb(28 14 0);
  --md-sys-color-primary-fixed-dim: rgb(230 192 147);
  --md-sys-color-on-primary-fixed-variant: rgb(73 50 16);
  --md-sys-color-secondary-fixed: rgb(195 239 168);
  --md-sys-color-on-secondary-fixed: rgb(4 21 0);
  --md-sys-color-secondary-fixed-dim: rgb(168 211 142);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 62 9);
  --md-sys-color-tertiary-fixed: rgb(255 221 177);
  --md-sys-color-on-tertiary-fixed: rgb(27 15 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 186 72);
  --md-sys-color-on-tertiary-fixed-variant: rgb(76 49 0);
  --md-sys-color-surface-dim: rgb(22 19 16);
  --md-sys-color-surface-bright: rgb(72 68 64);
  --md-sys-color-surface-container-lowest: rgb(9 7 5);
  --md-sys-color-surface-container-low: rgb(32 29 26);
  --md-sys-color-surface-container: rgb(43 39 36);
  --md-sys-color-surface-container-high: rgb(54 50 46);
  --md-sys-color-surface-container-highest: rgb(65 61 57);
}
