.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 214 154);
  --md-sys-color-surface-tint: rgb(241 190 109);
  --md-sys-color-on-primary: rgb(53 34 0);
  --md-sys-color-primary-container: rgb(182 137 62);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(242 217 181);
  --md-sys-color-on-secondary: rgb(49 35 12);
  --md-sys-color-secondary-container: rgb(163 141 110);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(203 228 184);
  --md-sys-color-on-tertiary: rgb(24 42 13);
  --md-sys-color-tertiary-container: rgb(129 152 113);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 19 11);
  --md-sys-color-on-background: rgb(236 225 212);
  --md-sys-color-surface: rgb(24 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(233 218 201);
  --md-sys-color-outline: rgb(189 176 160);
  --md-sys-color-outline-variant: rgb(155 142 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 212);
  --md-sys-color-inverse-on-surface: rgb(47 41 33);
  --md-sys-color-inverse-primary: rgb(98 66 0);
  --md-sys-color-primary-fixed: rgb(255 222 174);
  --md-sys-color-on-primary-fixed: rgb(27 15 0);
  --md-sys-color-primary-fixed-dim: rgb(241 190 109);
  --md-sys-color-on-primary-fixed-variant: rgb(75 49 0);
  --md-sys-color-secondary-fixed: rgb(249 223 187);
  --md-sys-color-on-secondary-fixed: rgb(26 15 0);
  --md-sys-color-secondary-fixed-dim: rgb(220 195 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(67 52 27);
  --md-sys-color-tertiary-fixed: rgb(209 234 190);
  --md-sys-color-on-tertiary-fixed: rgb(4 21 0);
  --md-sys-color-tertiary-fixed-dim: rgb(182 206 163);
  --md-sys-color-on-tertiary-fixed-variant: rgb(40 59 28);
  --md-sys-color-surface-dim: rgb(24 19 11);
  --md-sys-color-surface-bright: rgb(74 67 58);
  --md-sys-color-surface-container-lowest: rgb(11 7 3);
  --md-sys-color-surface-container-low: rgb(34 29 21);
  --md-sys-color-surface-container: rgb(45 39 31);
  --md-sys-color-surface-container-high: rgb(56 50 41);
  --md-sys-color-surface-container-highest: rgb(67 61 52);
}
