.light {
  --md-sys-color-primary: rgb(118 89 52);
  --md-sys-color-surface-tint: rgb(118 89 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(209 173 129);
  --md-sys-color-on-primary-container: rgb(90 64 29);
  --md-sys-color-secondary: rgb(15 49 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(37 72 19);
  --md-sys-color-on-secondary-container: rgb(142 183 117);
  --md-sys-color-tertiary: rgb(129 86 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 182 58);
  --md-sys-color-on-tertiary-container: rgb(111 73 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 244);
  --md-sys-color-on-background: rgb(30 27 24);
  --md-sys-color-surface: rgb(255 248 244);
  --md-sys-color-on-surface: rgb(30 27 24);
  --md-sys-color-surface-variant: rgb(238 224 211);
  --md-sys-color-on-surface-variant: rgb(78 69 59);
  --md-sys-color-outline: rgb(128 117 106);
  --md-sys-color-outline-variant: rgb(210 196 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 48 44);
  --md-sys-color-inverse-on-surface: rgb(247 239 234);
  --md-sys-color-inverse-primary: rgb(230 192 147);
  --md-sys-color-primary-fixed: rgb(255 221 181);
  --md-sys-color-on-primary-fixed: rgb(42 24 0);
  --md-sys-color-primary-fixed-dim: rgb(230 192 147);
  --md-sys-color-on-primary-fixed-variant: rgb(92 66 31);
  --md-sys-color-secondary-fixed: rgb(195 239 168);
  --md-sys-color-on-secondary-fixed: rgb(7 33 0);
  --md-sys-color-secondary-fixed-dim: rgb(168 211 142);
  --md-sys-color-on-secondary-fixed-variant: rgb(44 79 26);
  --md-sys-color-tertiary-fixed: rgb(255 221 177);
  --md-sys-color-on-tertiary-fixed: rgb(41 24 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 186 72);
  --md-sys-color-on-tertiary-fixed-variant: rgb(97 64 0);
  --md-sys-color-surface-dim: rgb(224 217 211);
  --md-sys-color-surface-bright: rgb(255 248 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(250 242 236);
  --md-sys-color-surface-container: rgb(244 236 231);
  --md-sys-color-surface-container-high: rgb(239 231 225);
  --md-sys-color-surface-container-highest: rgb(233 225 219);
}
