.light-medium-contrast {
  --md-sys-color-primary: rgb(73 50 16);
  --md-sys-color-surface-tint: rgb(118 89 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(134 104 65);
  --md-sys-color-on-primary-container: rgb(255 255 255);

  --md-sys-color-secondary: rgb(15 49 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(37 72 19);
  --md-sys-color-on-secondary-container: rgb(182 225 155);

  --md-sys-color-tertiary: rgb(76 49 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(148 99 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);

  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 244);
  --md-sys-color-on-background: rgb(30 27 24);
  --md-sys-color-surface: rgb(255 248 244);
  --md-sys-color-on-surface: rgb(19 17 14);
  --md-sys-color-surface-variant: rgb(238 224 211);
  --md-sys-color-on-surface-variant: rgb(61 53 43);
  --md-sys-color-outline: rgb(90 81 71);
  --md-sys-color-outline-variant: rgb(118 107 96);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  
  
  --md-sys-color-inverse-surface: rgb(51 48 44);
  --md-sys-color-inverse-on-surface: rgb(247 239 234);
  --md-sys-color-inverse-primary: rgb(230 192 147);
  --md-sys-color-primary-fixed: rgb(134 104 65);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(107 80 43);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);

  --md-sys-color-secondary-fixed: rgb(81 119 60);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(58 94 38);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  
  --md-sys-color-tertiary-fixed: rgb(148 99 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(116 77 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  
  --md-sys-color-surface-dim: rgb(204 197 192);
  --md-sys-color-surface-bright: rgb(255 248 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(250 242 236);
  --md-sys-color-surface-container: rgb(239 231 225);
  --md-sys-color-surface-container-high: rgb(227 219 214);
  --md-sys-color-surface-container-highest: rgb(216 208 203);
}
